body {
  font-family: "Lato", sans-serif;
  background-color: #f2f5fa;
}
.text-green {
  color: #05b169 !important;
}

.custom-select,
.form-control,
.input-group-text {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: 0;
}
.custom-select {
  border-right: 2px solid #b6bccc;
}
.form-control {
  font-size: 2rem;
}
.custom-select:focus,
.form-control:focus,
.input-group-text:focus {
  border-color: transparent;
  box-shadow: none;
}
.input-group-text {
  background-color: #ffffff;
  color: #b6bccc;
  font-size: 1.5rem;
}

.custom-select {
  height: 100%;
}

.select2-container--default .select2-selection--single {
  height: 62px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 62px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 18px;
  right: 10px;
}

.select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

:focus {
  outline: none;
}
